.mainScreen{
    height: 100vh;
    width: 100%;
}

.background{
    background: #6ca696;
}

.header{
    height: 9vh;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logoContainer{
    height: 50px;
    width: 50px;
    margin-right: 60px;
    display: flex;
    justify-content: space-around;
}

.logo{
    height: 100%;
    width: 50px;
    cursor: pointer;
    margin-right: 40px;
}

.uploadBox{
    height: 180px;
    width: 400px;
    background: #ce543c;
    position: absolute;
    top: 35%;
    right: 40%;
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 2px 0 black;
}

.close{
    width: 10px;
    align-self: flex-end;
    margin-top: 4px;
    margin-right: 7px;
    color: white;
    cursor: pointer;
}

.uploadButton{
    margin-top: 20px;
}

.uploadInput{
    padding-left: 5px;
}

.uploadInfo{
    height: 95vh;
    width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center
}

.video{
    display: flex;
    box-shadow: 0 0 5px 0 black;
    border-radius: 5px;
    height: 250px;
    width: 240px;
    justify-content: center;
    flex-flow: column;
    margin-left: 20px;
    padding-top: 10px;
    background: white;
}

.video img{
    width: 200px;
    height: 150px;
    border: 2px solid lightgray;
}

.video p{
    font-size: 12px;
    margin-right: 20px;
}