.loginBoxContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./../../home-bg.jpeg') no-repeat center;
    background-size: cover;
}

.loginBox{
    height: 57vh;
    width: 440px;
    display: flex;
    flex-flow: column;
    border: 2px solid #6ca696;
    box-shadow: 0 0 5px 0 #6ca696;
    background: rgba(250, 250, 250, .8);
    align-items: center;
}

.usernameContainer{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: -33px;
}

.circleLogo{
    height: 200px;
    width: 245px;
    border-radius: 5%;
    background: url('./../../FavTube.png') no-repeat center;
    margin-top: 48px;
}

.usernameContainer input{
    border: 3px solid #6ca696;
    width: 245px;
    height: 25px;
    padding-left: 5px;
    text-align: center;
}

.username{
    margin-top: 30px;
}

.passwordContainer{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.passwordContainer input{
    border: 3px solid #6ca696;
    width: 245px;
    height: 25px;
    margin-top: -2px;
}

.passwordInput{
    font-family: caption;
    padding-left: 5px;
    text-align: center;
}

.loginButton{
    align-self: center;
    margin-top: -78px;
    border: 3px solid #6ca696;
    box-shadow: 0 0 2px 0 black;
    background: #6ca696;
    color: white;
    width: 245px;
    height: 30px;
    font-family: ‘BebasNeueBold’;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 16px;
}